{% extends 'base.html' %}
{% load omfilters %}

{% block titulo %}Sobre | {% endblock %}

{% block conteudo %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Sobre</h3>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">MPXDS Informática</h1>
        <p class="lead">Sistema e-Commerce / Agenda / BLOG ... Python3 !</p>
        <p class="lead">
            <a href="http://www.mpxds.com.br" target="_blank" class="btn btn-lg 
                                                btn-secondary">Saiba mais</a>
        </p>
    </main>

</div>

{% endblock %}