{% extends 'base.html' %}
{% load omfilters %}

{% block titulo %}Tabela Internas | {% endblock %}

{% block conteudo %}

<div class="row">
    <div class="col">
        <h3 class="mb-4">Tabela Internas</h3>
        <p>Abaixo todas as Tabela Internas na loja.</p>

        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th scope="col">Tabela:</th>
                    <th scope="col">Codigo:</th>
                    <th scope="col">Descrição:</th>
                    <th scope="col">Ação:</th>
                </tr>

                {% for tabelaInt in tabelaInts %}
                <tr>
                    <td>{{ tabelaInt.tabela }}</td>
                    <td>{{ tabelaInt.codigo }}</td>
                    <td>{{ tabelaInt.descricao }}</td>
                    <td>
                        <a href="#">
                            Ver <i class="fas fa-search-plus ml-2"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}


            </table>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        {% include 'parciais/_pagination.html' %}
    </div>
</div>

{% endblock %}